@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #222222;
  color: #ffffff;
  font-family: "Fira Sans";
}

select, input, button {
  background-color: #444444;
  color: inherit;
  font-family: inherit;
  padding: 4px;
  font-size: 20px;
  margin: 4px;
}

button:hover {
  background-color: #4c4c4c;
}

label {
  font-size: 20px;
}

h1, h2 {
  margin: 10px;
}

hr {
  margin: 24px 0px;
  border-color: #555555;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
}

textarea {
  background-color: #444444;
  
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  
  border-radius: 4px;
  border-width: 2px;
  height: 200px;
  box-shadow: 2px 2px 6px #ffffff22;
}

.fullSize {
  flex-grow: 1;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 600px;
  background-color: #333333;
  border-radius: 8px;
  padding: 16px;
  margin: 12px auto;
  box-shadow: 5px 5px 10px #ffffff44;
  
  display: block;
  /*
  visibility: visible;
  opacity: 1;
  transform: none;
  transition: 500ms;
  */
}

.container.hidden {
  /*
  transform: translate(0px, -100px);
  visibility: hidden;
  opacity: 0;
  */
  display: none;
}

.centeredText {
  text-align: center;
}

.paragraph {
  text-justify: inter-word;
  text-align: justify;
}